#facilityList {
  width: 80%;
  background-color:white;
  font-size: 15px;
  margin: 20px auto;


}
li {
  list-style-type: none;
  padding:10px;
  
  text-decoration: none;
}
ul {
  padding: 10px;
}
li :hover{
  background-color:orange;
  cursor: pointer;
}