
#heading {
    padding-top: 1.5em;
    background-color:rgb(245, 182, 182);
    height: 100%;
    width:100%; 
    text-align: center;
} 

/*
@media screen and (max-width: 768px) {
    #heading {
        position: fixed;
        left: -100%;
        transition: 1s;
    }
    #heading.opened {
        left:0;
    }
}
*/