 <div id="heading" class="container">
  <h4>Filter By: </h4>
    <br>

    <div id="location" class="container">
      <form class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Locations
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <div class="form-check px-5 py-4 ">
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                            The Peak
                          </label>
                          <div class="dropdown-divider"></div>
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                           North Point
                          </label>
                          <div class="dropdown-divider"></div>
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                           Mid Levels
                          </label>
                          <div class="dropdown-divider"></div>
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                              Shek O
                          </label>
                          <div class="dropdown-divider"></div>
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                              Sai Wan Ho
                          </label>
  
                  </div> 
                <div class="dropdown-divider"></div>
                <button type="submit" class="btn btn-light">Submit</button>
              </div> 
          </form> 
         
  </div> 

  <br>
    
  <div id="find" class="container">
      <form class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Facilities
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <div class="form-check px-5 py-4 ">
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                            Kids menu
                          </label>
                          <div class="dropdown-divider"></div>
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                            High chair
                          </label>
                          <div class="dropdown-divider"></div>
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                           Diaper changing facility 
                          </label>
                          <div class="dropdown-divider"></div>
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                              Play area
                          </label>
  
                  </div> 
                <div class="dropdown-divider"></div>
                <button type="submit" class="btn btn-light">Submit</button>
              </div> 
          </form> 
         
  </div>

  <a routerLink="/">Go Back</a>
  </div> 
