<!--<div class="blog-card spring-fever">
    <div class="title-content">
      <h3><a href="#">10 inspiring photos</a></h3>
      <div class="intro"> <a href="#">Inspiration</a> </div>
    </div>
    <div class="card-info">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim... 
      <a href="#">Read Article<span class="licon icon-arr icon-black"></span></a>
    </div>
    <div class="utility-info">
      <ul class="utility-list">
        <li><span class="licon icon-like"></span><a href="#">2</a></li>
        <li><span class="licon icon-com"></span><a href="#">12</a></li>
        <li><span class="licon icon-dat"></span>03 jun 2017</li>
        <li><span class="licon icon-tag"></span><a href="#">Photos</a>, <a href="#">Nice</a></li>
      </ul>
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div>-- /.blog-card -->
  
  


<div id="about" class="container">
<div class="bar"></div>
<div class="timeline">

  <div class="entry">
      <h2>Step 1</h2>
      <h1>Select a location</h1>
      <i class="fa fa-home fa-3x"></i>
  </div>
  
  <div class="entry">
      <h2>Step 2</h2>
      <h1>Choose a facility</h1>
      <i class="fa fa-filter fa-3x"></i>
  </div>
  <div class="entry">
      <h2>Step 3</h2>
      <h1>Search for a restaurnt</h1>
      <i class="fa fa-search fa-3x"></i>
  </div>

  <div class="entry">
      <h2>step 4</h2>
      <h1>Check the restaurant location</h1>
      <i class="fa fa-map-marker fa-3x"></i>
  </div>

  <div class="entry">
      <h2>Step 5</h2>
     <h1>Enjoy your dining experience</h1>
     <i class="fa fa-cutlery fa-3x"></i>
     
  </div>
</div>
</div> 