
#intro {
   
    padding: 1.5rem;
 
    width: 80%;
    height: 50%;
    background-color: rgb(238, 61, 61);
    color: white;
    margin: 0 auto;
    overflow:auto;
}
h3{
    font-family: 'Shrikhand', cursive;
    font-family: 'Kotta One', serif;

}