<div id="about" class="container">
<div class="bar"></div>
<div class="timeline">

  <div class="entry">
      <h2>Step 1</h2>
      <h1>Select a location</h1>
      <i class="fa fa-home fa-3x"></i>
  </div>
  
  <div class="entry">
      <h2>Step 2</h2>
      <h1>Choose a facility</h1>
      <i class="fa fa-filter fa-3x"></i>
  </div>
  <div class="entry">
      <h2>Step 3</h2>
      <h1>Search for a restaurnt</h1>
      <i class="fa fa-search fa-3x"></i>
  </div>

  <div class="entry">
      <h2>step 4</h2>
      <h1>Check the restaurant location</h1>
      <i class="fa fa-map-marker fa-3x"></i>
  </div>

  <div class="entry">
      <h2>Step 5</h2>
     <h1>Enjoy your dining experience</h1>
     <i class="fa fa-cutlery fa-3x"></i>
     
  </div>
</div>
</div>