<!-- =============== main.component.html ================== -->

<section class="jumbotron jumbotron-fluid banner">
<div class="heading">
    <h1>Nook</h1>
    <br>
    <h3>Dining made easy for you and your family</h3>
    <br>
    
    <form class="dropdown show">
        <a class="btn btn-danger btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Find restaurants now
        </a>
      
        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
            <div class="form-check px-5 py-4">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                    <label class="form-check-label" for="dropdownCheck">
                      Hong Kong Island
                    </label>
                    <div class="dropdown-divider"></div>
                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                    <label class="form-check-label" for="dropdownCheck">
                      Central and Western districts
                    </label>
                    <div class="dropdown-divider"></div>
                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                    <label class="form-check-label" for="dropdownCheck">
                     Wan chai
                    </label>
            </div> <!-- close FORM CHECK -->
          <div class="dropdown-divider"></div>
         
          <button type="submit" class="btn btn-light ">Submit</button>
         
        </div> <!-- close DROPDOWN MENU -->
    </form> <!-- close DROPDOWN SHOW -->
</div>

</section>
 