/* ====================== main.component.css ======================= */
.banner {
    background: url('https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=719292378935d0f9168f11f9ad00558d&auto=format&fit=crop&w=600&q=60') no-repeat center center;
    background-size: cover;
    height: 90vh;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

h3 {
    font-family: 'Kalam', cursive;
    font-size: 3rem;
}

.heading {
    padding-top: 0.8rem;
    color: gray;
    text-align: center;
    background-color: rgba(248, 247, 216, 0.5);
    width: 80%;
    height: 55%;
}

.heading:hover {
    color: black;
    background-color: rgba(248, 247, 216, 0.8);
    
}
.dropdown-menu {
    height: 300px;
    overflow: scroll
}