
#districsList {
  width: 80%;
  max-height:400px;
  background-color:white;
  margin: 20px auto;
  padding: 0px;
 
  overflow-y: scroll;
}
button {
  background:transparent;
  margin: 0.5rem;
  border: none;
  
}
ul {
  padding: 10px;
}
li{
  list-style-type: none;
  padding:3px;
  border-bottom:1px solid #ccc;
  text-decoration: none;
  
}
a {
  color: black;
}
li :hover{
  background-color:orange;
  cursor: pointer;
}