a {
    color: black;
    margin-left: 30px;
    
}




a img {
    width: 170px;
    height: 50px;

}

@media only screen and (max-width: 720px){
    a img {
        width: 85px;
        height: 30px;
    
    }
}