<nav class="navbar navbar-light bg-light justify-content-between">
    <a id="yummy" class="navbar-brand">
      <img src="/assets/images/Yummyfull_mix.png" alt="logo">
    </a>
    <a routerLink="/">HOME</a>
    <a routerLink="/about">ABOUT</a>
    <a routerLink="/restaurants">RESTAURANTS</a>
    
   <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Type cuisine" aria-label="Search">
      <button class="btn btn-danger my-S2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>