a {
    color: black;
   
    font-size: 20px;
}




a img {
    width: 170px;
    height: 50px;

}

@media only screen and (max-width: 720px){
    a img {
        width: 85px;
        height: 30px;
    
    }

    a {
      
        font-size: 10px;
    }
}