#discoverBox {
    background-color:rgb(231, 77, 77);
    width: 300px;
    height: 100px;
    border-radius: 5px;
    margin: 10rem;
   
  }

  h3 {
    padding-top: 2rem;
    text-align: center;
  }